<!-- 
    <input type="text" class="form-control" [(ngModel)]="usermodel.Nom" id="Nom"  value="{{usermodel.Nom}}">
      <input type="text" class="form-control" id="Prenom"  value="{{usermodel.Prenom}}" [(ngModel)]="usermodel.Prenom" >
      <input type="text" class="form-control" id="email"  value="{{usermodel.email}}" [(ngModel)]="usermodel.email" >
      <input type="text" class="form-control" id="jobTitle" value="{{usermodel.jobTitle}}" [(ngModel)]="usermodel.jobTitle" >
      <input type="text" class="form-control" id="Telephone"  value="{{usermodel.Telephone}}" [(ngModel)]="usermodel.Telephone" >

  <button (click)="getUser()">testtttt</button> -->