
   <div class="search-hero mt-5">
    <input class="form-control" type="text" name="search" [(ngModel)]="searchText" autocomplete="off" placeholder="Start searching ">
  </div>
  <table class="table mt-5 ">
    <thead >
      <tr>
        <th scope="col">#</th>
        <th scope="col">Nom</th>
        <th scope="col">Prenom</th>
        <th scope="col">email</th>
        <th scope="col">jobtitle</th>
        <th scope="col">telephone</th>
      </tr>
    </thead>
    <tbody >
      <tr *ngFor="let x of users | filter:searchText">
        <th scope="row">{{x.id}}</th>
        <td>{{x.Nom}}</td>
        <td>{{x.Prenom}}</td>
        <td>{{x.email}}</td>
        <td>{{x.jobTitle}}</td>
        <td>{{x.Telephone}}</td>
        <td>
          <button (click)="delete(x.id)" class="btn btn-danger" >Delete</button>
        </td>
        <td>
          <button class="btn btn-primary" routerLink="update/{{x.id}}" > Update </button></td>
      </tr>
      
    </tbody>
  </table>
  <button  class="btn btn-primary" routerLink="add" >Ajouter un user </button>
  